@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");

body {
  color: #272727;
  font-family: "Quicksand", serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  background-color: #ecf9ff;
  padding: 0.5rem;
}

.topnav {
  overflow: hidden;
 /* background-color: #DD4A48;*/
  background-color: #e52165;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.3rem;
  margin-left: 1rem;
}

.topnav a:hover {
  background-color: #F5EEDC;
  color: black;
}

.topnav a.active {
  background-color: #F5EEDC;
  color: black;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about-section{
  max-width: 1200px;
  margin: 0 auto;
}

.recpie_box{
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: sans-serif;
  background-color: #ecf9ff;
  color: black; 
}
h2{
  margin: 0.5rem 0 0.5rem 0;
  text-align: center;
  font-size: 2rem;
 /* background-color: #e66a67;*/
  background-color: #e52165;
  padding: 0.3rem;
  font-family:'Courier New', Courier, monospace;
}

ul{
  margin-left: 3rem;
  list-style-type: square;
  padding: 1rem;
}
ol{
  padding: 1rem;
  margin-left: 3rem;
  list-style: decimal;
  word-spacing: 0.3rem;
}
li{
  font-size: 1.2rem;
  padding: 0.5rem;
  text-transform: capitalize;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.rec_show
{
    max-width: 1200px;
}


.footer{
    width: 100%;
    background: #263238;
    text-align: center;
    color: #f4f4f4;
  }
  
  .icons{
    padding-top: 1rem;
  }
  
  .icons a{
    text-decoration: none;
    font-size: 2rem;
    margin: 0.5rem;
    color: #f4f4f4;
  }
  
  .company-name{
    font-size: 1.6rem;
    margin-top: 0.5rem;
  }
  
  @media (max-width: 500px){
    html{
        font-size: 75%;
    }
  }    
  
  @media(min-width: 501px) and (max-width: 768px){
    html{
    font-size: 75%;
    }
  }    
  